{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="center">
		<div id="modalTest2" >
		<div class="flex">
			<div class="container">
				<h1 class="mt-4">Créez un compte</h1>
				<div>
					{{ form_errors(registrationForm) }}
				</div>
				<div class="mt-4">
					{{ form_start(registrationForm) }}

					{{ form_row(registrationForm.email, {'attr': {'class':'form-control'}}) }}

					{{ form_row(registrationForm.nom, {'attr': {'class':'form-control'}}) }}

					{{ form_row(registrationForm.prenom, {'attr': {'class':'form-control'}}) }}

					{{ form_row(registrationForm.telephone, {'attr': {'class':'form-control'}}) }}

					<label for="plainPassword" class="form-label">Mot de passe
					</label>
					{{ form_widget(registrationForm.plainPassword, {
            'attr': {'class':'form-control'} }) }}
				</div>

				<button type="submit" class="btnReg">S'inscrire</button>
			</div>
			<div class="decoration">
				<p>IMAGES FILMS IMAGES FILMSIMAGES FILMSIMAGES FILMSIMAGES FILMSIMAGES FILMSIMAGES FILMSIMAGES FILMS</p>
			</div>

			{{ form_end(registrationForm) }}
			</div>
		</div>
	</div>
	{% endblock %}
