{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="center">
		<div id="modalTest2">
			<div class="flex">
				<div class="form">
					<h1 class="mt-4">Créez un compte</h1>

					<div>
						{{ form_errors(registrationForm) }}
					</div>

					<div class="mt">
						{{ form_start(registrationForm) }}
						{{ form_widget(registrationForm.email, {'attr': {'class':'champs','placeholder': 'Email'}}
						) }}
						<hr>
						{{ form_widget(registrationForm.nom, {'attr': {'class':'champs','placeholder': 'Nom'}}) }}
						<hr>
						{{ form_widget(registrationForm.prenom, {'attr': {'class':'champs','placeholder': 'Prénom'}}) }}
						<hr>
						{{ form_widget(registrationForm.telephone, {'attr': {'class':'champs','placeholder': 'Téléphone'}}) }}
						<hr>
						{{ form_widget(registrationForm.plainPassword, {'attr': {'class':'champs','placeholder': 'Mot de passe'} }) }}
						<img src="../images/miseEnPage/eye.png" id="eye" onclick="changer()">
						<hr>

					</div>

					<button type="submit" class="btnReg">S'inscrire</button>
					<script>
						e = true;
function changer() {
if (e) {
document.getElementById("registration_form_plainPassword").setAttribute("type", "text");
document.getElementById("eye").src = "../images/miseEnPage/eye-off.png";
e = false;
} else {
document.getElementById("registration_form_plainPassword").setAttribute("type", "password");
document.getElementById("eye").src = "../images/miseEnPage/eye.png";
e = true;
}
}
					</script>
				</div>

				<div class="decoration">
					<img src="../images/miseEnPage/decorRegister.jpg" class="decoration" alt="">
					<img src="../images/miseEnPage/closeButton.png" class="close-button" onclick="closeModal()">
				<script>
        function closeModal() {
            document.getElementById("modalTest2").style.display = "none";
        }
    </script>
				</div>

			</div>

			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
