<nav class="navbar navbar-expand-lg bg-black b-bottom navbarCustom">
	<div class="d-flex align-items-center container-fluid navbar-dark bg-black">
		<div class="d-flex align-items-center">
			<a class="navbar-brand font-weight-bold mb-0" href="{{ path('app_home') }}">
				<img class="logoNavCustom" src="{{ asset('images/miseEnPage/logoCineCourts.png') }}" alt="LOGO"/>
			</a>
		</div>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item linkCustom">
					<a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
				</li>
				<li class="nav-item linkCustom">
					<a class="nav-link active" href="#">Catalogue</a>
				</li>
			</ul>
			<form class="d-flex" role="search">
				<input class="form-control me-2" type="search" placeholder="Recherche ..." aria-label="Search">
				<button class="btnSearch" type="submit">
					<i class="fa-solid fa-magnifying-glass white"></i>
				</button>
			</form>
			<div class="test">
				<li class="nav-item dropdown white ms-5 me-5">
					<a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<img src="{{ asset('images/miseEnPage/user.png') }}" alt="User Icon" class="userIcon">
					</a>
					<ul class="dropdown-menu dropdown-menu-lg-end">
						{% if app.user %}
							<li>
								<a href="{{ path('app_profil') }}" class="dropdown-item">Mon compte</a>
							</li>
							<li>
								<a href="{{ path('app_logout') }}" class="dropdown-item">Déconnexion</a>
							</li>
							<li>
								<a href="{{ path('admin') }}" class="dropdown-item">Panel Admin</a>
							</li>
						{% else %}
							<li>
								<button type="button" class="dropdown-item btn btn-primary" data-bs-toggle="modal" data-bs-target="#registerModal">S'inscrire</button>
							</li>
							<li>
								<button type="button" class="dropdown-item btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">Se connecter</button>
							</li>
						{% endif %}
					</ul>
				</li>
			</div>
		</div>
	</div>
</nav>




<!-- Modal login-->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5 m20" id="exampleModalLabel">Se connecter</h1>
				<button type="button" class="btn-close btnmod" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form action="{{ path('app_login') }}" method="post" class="mt-4">
					<div>
						<input placeholder="Votre adresse électronique" class="inputLog" type="text" id="_username" name="_username" >
					</div>
					<div class="passPosition">
						<div class="passwordSee">
							<div>
								<input placeholder="Votre mot de passe" class="eyePosition inputLog " type="password" id="_password" name="_password">
							</div>
							<img class="eyeImg" src="../images/miseEnPage/eye.png" id="eye" onclick="changer()">
						</div>
					</div>
					<div class="mt-2">
						<a class="forgotPass white" href="{{ path('app_forgot_password_request') }}">Vous avez oublié votre mot de passe ?</a>
					</div>

					<button type="submit" class="btnReg">Connectez-vous</button>
					<div class="btnReg justC">
						<a href="{{path('auth_oauth_connect', {service: 'google'})}}" class="noLink ">
							<img src="{{ asset('images/miseEnPage/googleIcon.png') }}" class="googleIcon" alt=""/>
							<span>Connectez-vous avec Google</span>
						</a>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
