<!-------------------------------------------------------- HEADER ------------------------------>

<nav class="navbar navbar-expand-lg navbarCustom goldLine">
    <div class="container-fluid navbar-dark navbarCustom d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <a class="navbar-brand font-weight-bold mb-0" href="{{ path('app_home') }}">
                <img class="logoNavCustom" src="{{ asset('images/miseEnPage/logoCineCourts.png') }}" alt="LOGO"/>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex mx-auto" role="search">
                <div class="dropdown">
                    <button class="btn btnCatDrop dropdown-toggle fontOutfit white" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Catégorie
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                <div class="searchContainer">
                    <input class="me-2 searchInput" type="search" placeholder="Rechercher ..." aria-label="Search">
                    <button class="loupe" type="submit">
                        <i class="fa-solid fa-magnifying-glass white"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="d-flex align-items-center">
            <li class="nav-item dropdown white ms-5 me-5 fontOutfit">
                <a class="" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if app.user %}
                        {% if app.user.profilPicture %}
                            <img src="{{ asset('uploads/profile_images/' ~ app.user.profilPicture) }}" alt="User Icon" class="userIconConnect">
                        {% else %}
                            <img src="{{ asset('images/miseEnPage/user.png') }}" alt="User Icon" class="userIcon">
                        {% endif %}
                    {% else %}
                        <img src="{{ asset('images/miseEnPage/user.png') }}" alt="User Icon" class="userIcon">
                    {% endif %}
                </a>
                <ul class="dropdown-menu dropdown-menu-lg-end">
                    {% if app.user %}
                        <li>
                            <a href="{{ path('app_profil') }}" class="dropdown-item">Mon compte</a>
                        </li>
                        <li>
                            <a href="{{ path('app_logout') }}" class="dropdown-item">Déconnexion</a>
                        </li>
                        <li>
                            <a href="{{ path('admin') }}" class="dropdown-item">Panel Admin</a>
                        </li>
                        <li>
                            <a href="{{ path('app_video_index') }}" class="dropdown-item">Upload des vidéos</a>
                        </li>
                    {% else %}
                        <li>
                            <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#registerModal">S'inscrire</button>
                        </li>
                        <li>
                            <button class="dropdown-item" id="loginButton" data-bs-toggle="modal" data-bs-target="#modalLogin">Se connecter</button>
                        </li>
                    {% endif %}
                </ul>
            </li>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbarCustom b-top">
	<div class="d-flex align-items-center container-fluid navbar-dark navbarCustom" id="secondNav">
		<div class="collapse navbar-collapse justC" id="">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item linkCustom space">
					<a class="nav-link {% if app.request.attributes.get('_route') == 'app_home' %}active{% endif %}" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
				</li>
				<li class="nav-item linkCustom space">
					<a class="nav-link {% if app.request.attributes.get('_route') == 'app_films_index' %}active{% endif %}" aria-current="page" href="{{path('app_films_index')}}">Catalogue</a>
				</li>
				<li class="nav-item linkCustom">
					<a class="nav-link" href="#2">Abonnement</a>
				</li>
			</ul>
		</div>
	</div>
</nav>


{# <!--------------------------------------------------- MODAL DU LOGIN  ----------------------------------> #}

<div id="modalLogin" class="modal fade modalLogin" tabindex="-1" aria-labelledby="modalLoginLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body p-0">
				<div class="d-flex">
					<div class="form">
						<div class="logoPosition">
							<img class="logoWhite" src="{{ asset('images/miseEnPage/logoCineCourts.png') }}" alt=""/>
						</div>
						<h2 class="logTitle">Connectez-vous</h2>
						<div class="questionLog">
							<div class="mt-2">
								<p>Vous n'avez pas encore de<br>compte ?</p>
							</div>
							<div class="questionLog2">
								<button id="openRegisterModal" class="btn white buttonRedirect">Créez un<br>compte</button>
							</button>
						</div>
					</div>
					{% for message in app.flashes('success') %}
						<div class="alert alert-success mt-4">
							{{ message }}
						</div>
					{% endfor %}
					<div class="ml-45">
						<form action="{{ path('app_login') }}" method="post" class="mt-4">
							<div class="form-group">
								<input placeholder="Votre adresse électronique" class=" champs inputLog" type="text" id="_username" name="_username">
							</div>
							<hr>
							<div class="form-group passPosition">
								<div class="passwordSee">
									<div>
										<input placeholder="Votre mot de passe" class=" champs eyePosition inputLog" type="password" id="_password" name="_password">
									</div>
									<img class="eyeImg" src="../images/miseEnPage/eye.png" id="eyeLog" onclick="changerLog()">
								</div>
								<hr>
							</div>
							<div class="mt-2">
								<a class="forgotPass white" href="{{ path('app_forgot_password_request') }}">Vous avez oublié votre mot de passe ?</a>
							</div>
							<button type="submit" class="btn btnReg">Connectez-vous</button>
							<div class="btn btnReg justC mt-2">
								<a href="{{path('auth_oauth_connect', {service: 'google'})}}" class="noLink">
									<img src="{{ asset('images/miseEnPage/googleIcon.png') }}" class="googleIcon" alt=""/>
									<span class="">Connectez-vous avec Google</span>
								</a>
							</div>
						</form>
					</div>
				</div>
				<div class=" colorGradient">
					<img src="../images/miseEnPage/decorRegister.jpg" class=" imgPosition" alt="">
					<img class="close-button" data-bs-dismiss="modal" src="../images/miseEnPage/closeButton.png">
				</div>
			</div>
		</div>
	</div>
</div></div>{# <!------------------------------------------------------- MODAL DU REGISTER ----------------------> #}<div id="registerModal" class="modal fade modalLogin" tabindex="-1" aria-labelledby="modalLoginLabel" aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-centered">
	<div class="modal-content">
		<div class="modal-body p-0 d-flex align-items-start">
			<div class="">
				<div class="form">
					<div class="logoPosition">
						<img class="logoWhite" src="{{ asset('images/miseEnPage/logoCineCourts.png') }}" alt=""/>
					</div>
					<h2 class="logTitle">S'inscrire</h2>
					<div class="ml-45">
						<form action="{{ path('app_register') }}" method="POST">
							<div>
								<input class="champs inputLog" type="email" id="registration_form_email" name="registration_form[email]" required="required" placeholder="Email"/>
								<hr>
							</div>
							<div>
								<input class="champs inputLog" type="text" id="registration_form_nom" name="registration_form[nom]" required="required" placeholder="Nom"/>
								<hr>
							</div>
							<div>
								<input class="champs inputLog" type="text" id="registration_form_prenom" name="registration_form[prenom]" required="required" placeholder="Prénom"/>
								<hr>
							</div>
							<div>
								<input class="champs inputLog" type="tel" id="registration_form_telephone" name="registration_form[telephone]" required="required" placeholder="Téléphone"/>
								<hr>
							</div>
							<div>
								<input class="champs inputLog" type="password" id="registration_form_plainPassword" name="registration_form[plainPassword]" required="required" minlength="6" placeholder="Mot de passe"/>
								<img class="eyeImg" src="../images/miseEnPage/eye.png" id="eyeReg" onclick="changerReg()">
								<hr>
							</div>
							<button type="submit" class="btn btnReg ">S'inscrire</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class=" colorGradient">
			<img src="../images/miseEnPage/decorRegister.jpg" class=" imgPosition" alt="">
			<img class="close-button" data-bs-dismiss="modal" src="../images/miseEnPage/closeButton.png">
		</div>
	</div>
</div></div>

{# <!------------------------------------------------ TOUT LES SCRIPTS ------------------------------> #}

<!-- Script pour rendre la nav interactive -->

<script>
document.addEventListener('DOMContentLoaded', (event) => {
const navLinks = document.querySelectorAll('.nav-link');

navLinks.forEach(link => {
link.addEventListener('click', function () {
navLinks.forEach(link => link.classList.remove('active'));
this.classList.add('active');
});
});
});
</script>

<!-- Script pour le bouton de l'oeil register -->

<script>
let e = true;
function changerReg() {
const passwordFieldReg = document.getElementById("registration_form_plainPassword");
const eyeIconReg = document.getElementById("eyeReg");
if (e) {
passwordFieldReg.setAttribute("type", "text");
eyeIconReg.src = "../images/miseEnPage/eye-off.png";
} else {
passwordFieldReg.setAttribute("type", "password");
eyeIconReg.src = "../images/miseEnPage/eye.png";
} e = ! e;
}
</script>

<!-- Script pour le bouton de l'oeil login -->

<script>
let f = true;
function changerLog() {
const passwordFieldLog = document.getElementById("_password");
const eyeIconLog = document.getElementById("eyeLog");
if (f) {
passwordFieldLog.setAttribute("type", "text");
eyeIconLog.src = "../images/miseEnPage/eye-off.png";
} else {
passwordFieldLog.setAttribute("type", "password");
eyeIconLog.src = "../images/miseEnPage/eye.png";
} f = ! f;
}
</script>

<!-- Script pour le bouton de l'inscription via le login -->

<script>
document.addEventListener('DOMContentLoaded', function () { // Récupérez les éléments des modals
const loginModal = new bootstrap.Modal(document.getElementById('modalLogin'));
const registerModal = new bootstrap.Modal(document.getElementById('registerModal'));


// Ajout d'un écouteur d'événements pour le bouton "Créer un compte"
document.getElementById('openRegisterModal').addEventListener('click', function () { // Ferme la modal de connexion
loginModal.hide();

// Ouvre la modal d'inscription
registerModal.show();
});
});
</script>
