{% extends 'base.html.twig' %}

{% block title %}Films show
{% endblock %}

{% block body %}
	<a class="ms-5 mt-3 mb-3" href="{{ path('app_films_index') }}">
		<i class="fa-solid fa-arrow-left colorbtn fa-4x text-white "></i>
	</fa-regular>
</a>
<h1 class="text-center white">{{films.name}}</h1>
<div class="d-flex justify-content-around">

	<div class="imgFilmShow d-block">
		<img class="img-fluid imgSizeShow " src="{{ asset ('/images/affiches/' ~ films.affiche)}}" alt=""></a>
	{% for video in videos %}
		<div class="d-flex justify-content-center mt-5">
			<a class="btn btnPlay" href="{{ path('app_films_view', {'id' : video.films.id}) }}">Voir le film ⏵</a>
		</div>
	{% endfor %}
</div>
<div class="info">
	<p class="white justify">{{films.synopsis}}</p>
	<h4 class=" white">{{ films.duree|date('H') }}h{{ films.duree|date('i') }}min</h4>
	{% for genres in films.genres %}
		<h5 class=" white">{{genres.nom}}</h5>
	{% endfor %}
	<div class="d-flex justify-content-around">
		<div>
			<p class="white">Acteurs :</p>
			{% for acteurs in films.acteurs %}
				<p class="white">{{ acteurs.prenom }}
					{{ acteurs.nom }}</p>
			{% endfor %}
		</div>
		<div>
			<p class="white ">Réalisateur :</p>
			{% for realisateur in films.realisateur %}
				<p class="white">{{ realisateur.prenom }}
					{{ realisateur.nom }}</p>
			{% endfor %}
		</div>
	</div>

</div></div>{% endblock %}
