{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<h1>Profil de {{ app.user.prenom }} {{ app.user.nom }}</h1>

    <p>Email : {{ app.user.email }}</p>
    <p>Nom : {{ app.user.nom }}</p>
    <p>Prénom :{{ app.user.prenom }}</p>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Sauvegarder</button>
    {{ form_end(form) }}
{% endblock %}
