{# {% extends 'base.html.twig' %}

{% block title %}Login
{% endblock %}

{% block body %}
	<div class="center">
		<div id="modalTest4">
			<div class="flex">
				<div class="form">
					<h2 class="mt-4">Connectez-vous</h2>
					{% for message in app.flashes('success') %}
						<div class="alert alert-success mt-4">
							{{ message }}
						{% endfor %}
						{% if error %}
							<div class="alert alert-dismissible alert-danger">
								{{ error.messageKey|trans(error.messageData, 'security') }}
							</div>
						</div>
					{% endif %}
					<div class="mt">
						{{ form_start(loginForm, {'attr': {'class': 'mt-4'}}) }}

						{{ form_widget(loginForm._username, {'attr': {'class':'champs','placeholder': 'Votre adresse electronique'}}) }}
						<hr>
						{{ form_widget(loginForm._password, {'attr': {'class':'champs','placeholder': 'Votre mot de passe'}}) }}
						<img src="../images/miseEnPage/eye.png" id="eye" onclick="changer()">
						<hr>
                        <a href="{{ path('app_forgot_password_request') }}" class="white">Vous avez oublié votre mot de passe ?</a>
					</div>
					<button type="submit" class="btnReg">Se connecter</button>

                    <div class="mt-16 grid space-y-4">
            <button class="btnReg">
            <a href="{{path('auth_oauth_connect', {service: 'google'})}}">
            <span class="">
                <img src="{{ asset('images/miseEnPage/googleIcon.png') }}" class="" alt="" />
            <span>Connectez-vous avec Google</span>
            </span>
            </a>
            </button>
        </div>
				<script>
						e = true;
function changer() {
if (e) {
document.getElementById("login_form__password").setAttribute("type", "text");
document.getElementById("eye").src = "../images/miseEnPage/eye-off.png";
e = false;
} else {
document.getElementById("login_form__password").setAttribute("type", "password");
document.getElementById("eye").src = "../images/miseEnPage/eye.png";
e = true;
}
}
				</script>
                </div>

                <div class="decoration">
					<img src="../images/miseEnPage/decorRegister.jpg" class="decoration" alt="">
					<img src="../images/miseEnPage/closeButton.png" class="close-button" onclick="closeModal()">
				<script>
        function closeModal() {
            document.getElementById("modalTest4").style.display = "none";
        }
                </script>
				</div>
				{{ form_end(loginForm) }}
			</div>
		</div>
	</div>
{% endblock %} #}
