{# {% extends 'base.html.twig' %}

{% block title %}Login
{% endblock %}

{% block body %}
	<div class="center">
		<div id="modalTest4">
			<div class="flex">
				<div class="form">
				<div class="logoPosition">
					<img class="logoPopWhite" src="{{ asset('images/miseEnPage/logoPopWhite.png') }}" alt="" />
				</div>
					<h2 class="mt-4 logTitle">Connectez-vous</h2>
					<div class="questionLog">
					<div>
						<p>Vous n'avez pas encore de <br> compte ?</p>
					</div>
					<div class="questionLog2">
						<p>Créez un <br> compte</p>
					</div>
					</div>
					{% for message in app.flashes('success') %}
						<div class="alert alert-success mt-4">
							{{ message }}
						</div>
					{% endfor %}
					{% if error %}
						<div class="alert alert-dismissible alert-danger">
							{{ error.messageKey|trans(error.messageData, 'security') }}
						</div>
					{% endif %}
					<div class="ml-45">
						<form action="{{ path('app_login') }}" method="post" class="mt-4">
							<div>
								<input placeholder="Votre adresse électronique" class="champs inputLog" type="text" id="_username" name="_username" value="{{ lastUsername }}">
							</div>
							<hr>
							<div class="passPosition">
								<div class="passwordSee">
								<div>
									<input placeholder="Votre mot de passe" class="champs eyePosition inputLog" type="password" id="_password" name="_password">
								</div>
								<img class="eyeImg" src="../images/miseEnPage/eye.png" id="eye" onclick="changer()">
								</div>
								<hr>
							</div>
							<div class="mt-2">
        						<a class="forgotPass white" href="{{ path('app_forgot_password_request') }}">Vous avez oublié votre mot de passe ?</a>
            				</div>
							
						<button type="submit" class="btnReg">Connectez-vous</button>
						<div class="btnReg justC">
						<a href="{{path('auth_oauth_connect', {service: 'google'})}}" class="noLink ">
							<img src="{{ asset('images/miseEnPage/googleIcon.png') }}" class="googleIcon" alt=""/>
							<span>Connectez-vous avec Google</span>
						</a>
						</div>
					</div>

<script>
    let e = true;
    function changer() {
        const passwordField = document.getElementById("_password");
        const eyeIcon = document.getElementById("eye");
        if (e) {
            passwordField.setAttribute("type", "text");
            eyeIcon.src = "../images/miseEnPage/eye-off.png";
        } else {
            passwordField.setAttribute("type", "password");
            eyeIcon.src = "../images/miseEnPage/eye.png";
        }
        e = !e;
    }
</script>
				</div>

					<div class="decoration colorGradient">
						<img src="../images/miseEnPage/decorRegister.jpg" class="decoration imgPosition" alt="">
						<img src="../images/miseEnPage/closeButton.png" class="close-button" onclick="closeModal()">
						
<script>
function closeModal() {
document.getElementById("modalTest2").style.display = "none";
}
</script>
					</div>
			</div>
					</form>
		</div>
	</div>
{% endblock %} #}
