{% extends 'base.html.twig' %}

{% block title %}Accueil vidéos{% endblock %}

{% block body %}
    <h1>Video index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom du fichier</th>
                <th>Nom du film</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.id }}</td>
                <td>{{ video.filename }}</td>
                <td>{{video.name}}</td>
                <td>
                    <a href="{{ path('app_video_show', {'id': video.id}) }}">Voir</a>
                    <a href="{{ path('app_video_edit', {'id': video.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune vidéo trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_video_new') }}" class="btn btnReg">Ajouter une vidéo</a>
{% endblock %}
