{% extends 'base.html.twig' %}

{% block title %}Accueil vidéos{% endblock %}

{% block body %}
    <div class="row justify-content-center mt-5">
        {% for video in videos %}
            <div class="col-md-2 mb-5">
                <div class="card cardSize">
                    <img src="{{ asset('/images/affiches/' ~ video.films.affiche) }}" class="card-img-top cardImg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ video.name }}</h5>
                        <h6 class="card-title text-center">{{ video.filename }}</h6>
                        <a class="btn btnReg2" href="{{ path('app_video_show', {'id': video.id}) }}">Voir</a>
                        <a class="btn btnReg2" href="{{ path('app_video_edit', {'id': video.id}) }}">Modifier</a>
                    </div>
                </div>
            </div>
            {% if loop.index % 4 == 0 %}
                </div><div class="row justify-content-center">
            {% endif %}
        {% endfor %}
    </div>
    <a href="{{ path('app_video_new') }}" class="btn btnReg2">Ajouter une vidéo</a>
{% endblock %}