{% extends 'base.html.twig' %}

{% block title %}Video{% endblock %}

{% block body %}
    <div style="display: flex; justify-content: center;">
        <img src="{{ asset('/images/affiches/' ~ video.films.affiche) }}" class="imgSize2 mt-5" alt="...">
    </div>
    <h1 class="text-center white mt-3">{{video.name}}</h1>
    <h2 class="text-center white mt-2">{{video.filename}}</h2>
    <div class="posBtn">
        <a href="{{ path('app_video_index') }}" class="btn btnReg2" style="width: 40%;">back to list</a>
        <a href="{{ path('app_video_edit', {'id': video.id}) }}" class="btn btnReg2" style="width: 40%;">edit</a>
    </div>

    {{ include('video/_delete_form.html.twig') }}
{% endblock %}
