{% extends 'base.html.twig' %} 
{% block title %}Accueil {% endblock %}
{% block body %}
{# !!!!!! CAROUSEL DES NOUVEAUTÉ !!!!! #}
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% for films in films %}
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active" {% endif %}aria-label="Slide {{ loop.index }}" style="background-color: rgba(255, 255, 255, 1);"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for films in films %}
                <div class="carousel-item {% if loop.first %}active{% endif %}" data-bs-interval="5000">
                    <img src="{{ asset ('/images/banniere/' ~ films.ban)}}" class="imgSizeCarousel" alt="...">
                    {% for video in videos %}
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="white">{{films.name}}</h5>
                            <a href="{{ path('app_films_show', {'id' : films.id}) }}" class="btn btnReg">Voir</a>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev" style="background-color: rgba(255, 255, 255);">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next" style="background-color: rgba(255, 255, 255);">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden" >Next</span>
        </button>
    </div>
{# !!!!!! CAROUSEL DES NOUVEAUTÉ !!!!! #}


{% for genre in genres %}
    {% set hasVideos = false %}
    {% for films in films %}
        {% for film_genre in films.genres %}
            {% if film_genre.nom == genre.nom %}
                {% for video in videos %}
                    {% if video.films.id == films.id %}
                        {% set hasVideos = true %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    
    {% if hasVideos %}
        <h1 class="white ms-5">{{genre.nom}}</h1>
        <p class="rectangle ms-5"></p>
        <swiper-container class="mySwiper mb-5" watch-slides-progress="true" slides-per-view="5">
            {% for films in films %}
                {% for film_genre in films.genres %}
                    {% if film_genre.nom == genre.nom %}
                        <swiper-slide class="ms-5 film-slide">
                            <img class="imgSizeSwipper img-fluid" src="{{ asset ('/images/affiches/' ~ films.affiche)}}" alt="">
                            <div class="film-info">
                                {% for video in videos %}
                                    {% if video.films.id == films.id %}
                                        <video class="video-background mt-2" id="video-{{ video.films.id }}" muted autoplay>
                                            <source src="{{ asset('/uploads/videos/' ~ video.filename) }}" type="video/mp4">
                                            Votre navigateur ne supporte pas la balise vidéo.
                                        </video>
                                    {% endif %}
                                {% endfor %}
                                <div class="film-details mb-2">
                                    <h5>{{ films.name }}</h5>
                                    <p>{{films.duree | date('H:i:s')}}</p>
                                    {% for video in films.videos %}
                                        <a href="{{ path('app_films_view', {'id' : video.films.id}) }}" class="btn"><i class="fa-solid fa-play white"></i></a>
                                    {% endfor %}
                                    <a href="{{ path('app_films_show', {'id' : films.id}) }}" class="btn"><i class="fa-solid fa-circle-info white"></i></a>
                                </div>
                            </div>
                        </swiper-slide>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <swiper-slide class="film-slide"></swiper-slide>
            <swiper-slide class="film-slide"></swiper-slide>
        </swiper-container>
    {% endif %}
{% endfor %}
{% endblock %}
